/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

div#NeoWeb_fullcalendar {
    width: 100%;
}

div#NeoWeb_fullcalendar table {
    display: table !important;
    margin: 0;
}

div#NeoWeb_fullcalendar table tr td:first-child {
    padding: 0 !important;
}

div#NeoWeb_fullcalendar table tr th a {
    color: #FFFFFF;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-heading,
.modal-body {
    padding: 0 20px;
}

.modal-heading {
    background-color: #7413DB;
    color: #FFFFFF;
}

.modal-heading h3 {
    padding-top: 15px;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}